#!/bin/bash
adduser --disabled-password --gecos "" ${user}
usermod -aG sudo ${user}
echo "${user} ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/${user}
mkdir -p /home/${user}/.ssh
echo "${pub_key}" >> /home/${user}/.ssh/authorized_keys
chown -R ${user}:${user} /home/${user}/.ssh
chmod 700 /home/${user}/.ssh
chmod 600 /home/${user}/.ssh/authorized_keys